/*
   Some CSS rules come in at runtime, inserted into:
   <script id="laramieStyle">
       table.fretTable {border-spacing: 5pt; }
       .instrumentBackground {background-color: black; }
       .....
   </script>

   The basic layout as of 20260330 is: 

    <div id="tabledest">
		<div class="instrumentBackground" id="divDEV_1">
			<div class="captionRow">
				<button class="HamburgerInstrumentClass showsubcaption moveyButton" id="btnHamburgerDEV_1" tabindex="-1" type="button">≡</button><span class="captionRowInstrument"><span class="tuningIDCaption">DEV_1</span></span><span class="subcaption"><span class="tuningBaseIDCaption">Developer</span>1-string Guitar[F]<span class="joniTuning"><small>Joni:</small>[F]</span><span class="lblNoteClickedCaption" style="display: none;"></span><button class="showcolordict moveyButton" id="btnHamburgerColorDictDEV_1" tabindex="-1" type="button"><img src="img/colordictThumbnail.png"></button><button class="showWiringButton moveyButton ShowWiringButtonOpen" id="btnHamburgerShowWiringDEV_1" tabindex="-1" type="button">Wiring</button></span><span class="captionRowLiveInfo"><span class="lblRootID"></span><span class="spanLeadDifferentFromRoot"></span><span class="instrumentSectionBox LooperLight" id="relSec_tblDEV_1"><span class="instrumentSectionMark">§</span>1</span></span>
				<div class="currentColorDict">
				</div>
			</div>
			<div class="wiringAndFretTable">
				<div class="divWiring" id="divDEV_1_wiring">
					<div class="Wiring-controls" data-tablename="tblDEV_1" data-tuning-i-d="DEV_1" data-tuningid="" id="tblDEV_1-Wiring-controls">
					</div>
				</div>
				<div class="fretTableWrapper">
					<table border="0" cellpadding="0" cellspacing="4" class="fretTable" id="tblDEV_1">
					</table>
				</div>
			</div>
		</div>
        <div class="instrumentBackground" id="divP46_1">
           Another instrument...
        </div>
	</div>
        */
        


#tabledestTopPad {
    height: 5em;
}
#tabledest {
    display: inline-block;
}



.instrumentBackground {
    display: flex;
    flex-direction: column;
    width: 99% ;
    box-sizing: border-box;
    color: gold;
    background-color: #0aa; 
    margin: 1em;
    margin-bottom: var(--instrument-margin-tb);
    margin-left: 1.5em;
    border: 1px solid black;
    box-shadow: 0 0 6pt 3pt maroon;
    border-radius: 0.3em;
    padding: 8pt;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-image: var(--instrument-border-image) 30 / 19px round;
}

instrumentBackground .captionRow {
    width: 100%;
}
.captionRowInstrument {
    display: inline;
}
.captionRowLiveInfo {
    display: inline;
    padding: 0;
}

.spanLeadDifferentFromRoot,
.joniTuning,
.lblNoteClickedCaption,
.tuningBaseIDCaption,
.tuningIDCaption,
.instrumentSectionBox,
.captionRowInstrument,
.subcaption {
    margin-left: 0.4em;
    margin-right: 0.4em;
}
.captionRowLiveInfo {
    margin: 0;
    height: 1em;
    width: 1.8em;
}
.captionRow .lblRootID {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 60%;
    padding-bottom: 0.01em;
}

.wiringAndFretTable {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  min-width: 0;
}

.divWiring {
    width: 250px; /* or whatever fixed width you want */
    flex-shrink: 0;
}
.divWiring input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

.fretTableWrapper {
    flex: 1 1 0;
    min-width: 0; /* prevents overflow issues */
    overflow-x: auto;
}

.fretTableWrapper table {
  width: 100%; 
}

.fretTable {
  height: 100%;
}
table.fretTable {
    border-spacing: var(--cell-spacing);  /*** this is the space between table cells ****/
    user-select: none; /*prevent folks from drag selecting through cells, which highlights all the hidden notes.*/
}



/*  The little box in the caption row that tells us section number, relativeSection, and pink border for looping via applied class. */
.instrumentSectionBox {
   display: inline;
}
/* The section character: §    */
.instrumentSectionMark {
    color: green;
    font-size: 80%;
    padding-right: 0.5em;
}


/* leftmargin is used instead of a nut in the case of a MIDI8x8 controller */
.leftmarginInstrument {
    margin-left: 110px; /* same as td.note */
}
