<template id="section-status-vertical-template">
    <span id="${widgetID}" class="${widgetClasses} section-status-vertical-widget" data-tablename="${ownerID}" data-placement-id="${placementID}">
        <table class="section-status-vertical-table">
            <tr>
                <td class="instrumentSectionBox SectionStatus_loopLight">
                    <table class="section-status-vertical-table-inner">
                        <tr>
                            <td class="SectionsStatus_td_RecordDot">
                                <span class="RecordDot RecordButton"></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <span class='SectionStatus_relativeSection'></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="SectionStatus_td_SectionNumber">
                                <span class="instrumentSectionMark">&sect;</span><span class="SectionsStatus_SectionNumber"></span>
                            </td>
                        </tr>
                        <tr class="SectionStatus_beatRow">
                            <td class="SectionStatus_td_beatNumber">
                                <span class="SectionStatus_beatWrap"><span class="SectionStatus_beatColon">:</span><span class="SectionStatus_beatNumber"></span></span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="SectionStatus_td_rootKey">
                    <span class='SectionStatus_rootKey'></span>
                </td>
            </tr>
            <tr>
                <td class="SectionStatus_td_rootKeyLead">
                    <span class='SectionStatus_rootKeyLead'></span>
                </td>
            </tr>
        </table>
    </span>
</template>

<template id="section-status-horizontal-template">
    <span id="${widgetID}" class="${widgetClasses} section-status-horizontal-widget" data-tablename="${ownerID}" data-placement-id="${placementID}">
        <span class="instrumentSectionBox SectionStatus_loopLight">
            <span class="RecordDot RecordButton"></span>
            <span class='SectionStatus_relativeSection'></span>
            <span class="instrumentSectionMark">&sect;</span>
            <span class="SectionsStatus_SectionNumber"></span>
            <span class="SectionStatus_beatWrap"><span class="SectionStatus_beatColon">:</span><span class="SectionStatus_beatNumber"></span></span>
        </span>
        <span class='SectionStatus_rootKey'></span>
        <span class='SectionStatus_rootKeyLead'></span>
    </span>
</template>