<template id="section-status-vertical-template">
    <span id="${widgetID}" class="section-status-vertical-widget" data-tablename="${ownerID}">
        <table class="section-status-vertical-table LooperLightTD">
            <tr>
                <td class="instrumentSectionBox ${LooperLight}">
                    <table class="section-status-vertical-table-inner">
                        <tr>
                            <td>
                                <span class='SectionStatus_relativeSection'></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="instrumentSectionMark">&sect;</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="SectionsStatus_SectionNumber"></span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <span class='SectionStatus_rootKey'></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class='SectionStatus_rootKeyLead'></span>
                </td>
            </tr>
        </table>
    </span>
</template>

<!-- when we are done, kill these:
 
    infinite-neck.css :: .lblSectionmark
    index.html :: topControlsCaptions :: lblSectionmark, lblSectionsStatusSectionNo, lblSectionNumber
    instrument.css :: instrumentSectionMark (this should now be in section-status.css)

    infinite-neck.js ::
      export function updateSectionsStatus(){
		//These should be in #topControlsCaptions in index.html
	    $(".lblSectionsStatusSectionNo").html(""+(getSong().getSectionsCurrentIndex()+1));
-->
<template id="section-status-horizontal-template">
    <span id="${widgetID}" class="section-status-horizontal-widget" data-tablename="${ownerID}">
        <span class="instrumentSectionBox ${LooperLight}">
            <span class='SectionStatus_relativeSection'></span>
            <span class="instrumentSectionMark">&sect;</span>
            <span class="SectionsStatus_SectionNumber"></span>
        </span>
        <span class='SectionStatus_rootKey'></span>
        <span class='SectionStatus_rootKeyLead'></span>
    </span>
</template>

<template id="section-status-horizontal-template-WORKED_THE_OLD_WAY">
    <span id="${widgetID}" class="section-status-horizontal-widget" data-tablename="${ownerID}">
        <span class="instrumentSectionBox ${LooperLight}">
            <span class='relativeSectionLabel'></span>
            <span class="instrumentSectionMark">&sect;</span>
            <span class="lblSectionsStatusSectionNo"></span>
        </span>
        <span class='lblRootID'></span>
        <span class='spanLeadDifferentFromRoot'></span>
    </span>
</template>