.macroStatus {
    min-height: 1.5em;
    margin: 0.4em 0;
    font-size: 90%;
}

.macroStatusOk {
    color: #256029;
}

.macroStatusError {
    color: #9f1d20;
    font-weight: bold;
}

#txtMacroId {
    min-width: 12em;
}
