<template id="info-template">
<div id="info" class="topControlsSections sectionPageControlsGroup" style="display: none;">
    <table class="menuTable infoMenuTable">
        <tr>
            <td class="menuPage">
                <div class="infoActionRow sectionPageControlsGroup">
                    <button id="btnFloatSection_info" type="button" class="moveyButton floatDockableButton">Float</button>
                    <button id="btnCloseInfo" type="button" class="MenuButton BtnPunchedOut">Close</button>
                    <span class="infoCloseCaption">Or hit ESC to close</span>
                </div>

                <div class="infoTabsShell">
                    <div class="infoTabsTop">
                        <span class="infoTabsButtons">
                            <button id="btnInfoTabInfo" type="button" class="MenuTabBtn BtnPunchedIn">Info</button>
                            <button id="btnInfoTabEdit" type="button" class="MenuTabBtn BtnPunchedOut">Edit</button>
                        </span>
                        <span class="infoTabsFill"></span>
                    </div>

                    <div class="infoTabsBody">
                        <div id="divInfoTabInfo" class="infoTabPanel">
                            <div id="divInfoRendered" class="infoRendered"></div>
                        </div>

                        <div id="divInfoTabEdit" class="infoTabPanel" style="display: none;">
                            <div class="infoEditControls">
                                <label for="selOpenInfo">Show info on opening Song:</label>
                                <select id="selOpenInfo">
                                    <option value="none">none</option>
                                    <option value="parked">parked</option>
                                    <option value="float">float</option>
                                </select>
                                <span class="infoSaveCaption">&nbsp;&nbsp;Save:</span>
                                <button id="btnSaveInfo" type="button">&check;</button>
                            </div>
                            <textarea id="textareaSongInfo" class="scalingTextarea infoTextarea"></textarea>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
</template>