<template id='palette-template'>
<div id="palette"  class="topControlsSections sectionPageControlsGroupResize" >  
    <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->

    <div style="float: left;" class="sectionPageControlsGroup ">
        <!-- this is needed for a draggable palette:
        <span style="float: left;">
            <div id="paletteheader">Palette

            </div>
            <label for="cbFloatPalette"><input id="cbFloatPalette"
                type="checkbox" name="cbnFloatPalette" value="1" tabindex="-1">Float
            </label>
        </span>
        -->
        
        <table id="tblPaletteFloatButtonWrapper" class='organizer' style="float: left; ">
            <tr>
                <td>
                    <div class="chooseNoteStyleRBBackground">
                        <table class='organizer'>
                            <tr>
                                <td class='organizer'>
                                    <button id="btnFloatSection_divPalette" class="moveyButton floatDockableButton" onclick="makeDivDockable('divPalette')">Float</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

        <table id="tblPaletteOrganizer" class='organizer' style="float: left; ">
            <tr>
                <td>
                    <div class="chooseNoteStyleRBBackground">
                        <table class='organizer'>
                            <tr>
                                <td class='organizer'>
                                    <label id="chooseHighlightNamed" class="chooseHighlight">
                                        <input type="radio" id="idNamedNotes" name="rbHighlight"
                                            value="Named" checked><b>Named</b>
                                    </label>
                                </td>
                                <td>
                                    <label id="chooseHighlightSingle" class="chooseHighlight">
                                        <input type="radio" id="idSingleNotes" name="rbHighlight"
                                            value="Single"><b>Single</b>
                                    </label>
                                </td>
                                <td>
                                    <label id="chooseHighlightTiny" class="chooseHighlight">
                                        <input type="radio" id="idTinyNotes" name="rbHighlight"
                                            value="Tiny"><b>Tiny</b>
                                    </label>
                                </td>
                                <td>
                                    <table style="float:left; margin: 0;" border='0' cellpadding='0'
                                        cellspacing='0' style="margin: 0;">
                                        <tr>
                                            <td>
                                                <label id="chooseHighlightBend" class="chooseHighlight">
                                                    <input type="radio" id="rbBend" name="rbHighlight"
                                                        value="Bend"><b>Bend</b>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align='right'
                                                style="font-size: 8pt; margin: 0; vertical-align: top;">
                                                <select id='selBend' style="font-size: 8pt; margin: 0;">
                                                    <option checked value='semitone1'>1 semitone
                                                    </option>
                                                    <option value='semitone2'>2 semitones</option>
                                                    <option value='semitone3'>3 semitones</option>
                                                    <option value='prebend1'>prebend 1</option>
                                                    <option value='prebend2'>prebend 2</option>
                                                    <option value='prebend3'>prebend 3</option>
                                                    <option value='updown1'>up-down 1</option>
                                                    <option value='updown2'>up-down 2</option>
                                                    <option value='updown3'>up-down 3</option>
                                                </select>
                                                <p style="height: 0.6em;"> </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <label class="chooseHighlight" id="idMidiPitchesLbl">
                                        <input type="radio" id="idMidiPitches" name="rbHighlight"
                                            value="MidiPitches"><b>Pitch</b>
                                    </label>
                                </td>
                                <td>
                                    <label class="chooseHighlight" id="idMidiPitchesSingleLbl">
                                        <input type="radio" id="idMidiPitchesSingle" name="rbHighlight"
                                            value="MidiPitchesSingle"><b>Multi</b>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

        <!--Fingering-->
        <div style="float: left;" class="fingeringRBBackground">
            <table border='0' style="margin-left: 1em;">
                <tr>
                    <td>
                        <b>Fingering:</b>
                        <label class="chooseFinger userColorRB Finger0">
                            <input type="radio" id="rbFinger0" name="rbHighlight" finger="0"
                                value="Fingering">0
                        </label>
                        <label class="chooseFinger userColorRB Finger1">
                            <input type="radio" id="rbFinger1" name="rbHighlight" finger="1"
                                value="Fingering">1
                        </label>
                        <label class="chooseFinger userColorRB Finger2">
                            <input type="radio" id="rbFinger2" name="rbHighlight" finger="2"
                                value="Fingering">2
                        </label>
                        <label class="chooseFinger userColorRB Finger3">
                            <input type="radio" id="rbFinger3" name="rbHighlight" finger="3"
                                value="Fingering">3
                        </label>
                        <label class="chooseFinger userColorRB Finger4">
                            <input type="radio" id="rbFinger4" name="rbHighlight" finger="4"
                                value="Fingering">4
                        </label>
                        <label class="chooseFinger userColorRB FingerT">
                            <input type="radio" id="rbFingerT" name="rbHighlight" finger="T"
                                value="Fingering">T
                        </label>
                    </td>
                </tr>
            </table>
        </div>
        <!--- END Fingering -->

        <div style="float: left; clear: both;">
            <div class="paletteRBBackground">
                <table>
                    <tr>
                        <td width="70%" style="text-align: left">
                            <label class="chooseClear">
                                <input type="radio" id="idClear" name="rbColor" value="noteClear">CLEAR
                            </label>
                            <label class="chooseKeep">
                                <input type="radio" id="idKeep" name="rbColor" value="noteKeep">KEEP
                            </label>
                            <label class="chooseKeep">
                                <input type="radio" id="idDropper" name="rbColor"
                                    value="noteDropper">Find Color
                            </label>

                            <button id="btnRestoreRbColor" type="button" class="chooseLastColor" tabindex="-1">
                                Color: Emboss
                            </button>
                            
                            <label for="cbAutomaticColor"><input id="cbAutomaticColor" type="checkbox"
                                    name="cbnAutomaticColor" value="1">AutoColor
                            </label>
                            <span id="manualColors">

                                <span id="idRoleButtonsDest"></span>

                                <button id="showHideExtraColors" type="button"
                                    class="MenuButton BtnPunchedOut">More...</button>

                                <span id="extraColors" style="display: none;">
                                    <label class="notePink1" title="notePink1">
                                        <input type="radio" id="idPink1" name="rbColor"
                                            value="notePink1">
                                    </label>
                                    <label class="notePink2" title="notePink2">
                                        <input type="radio" id="idPink2" name="rbColor"
                                            value="notePink2">
                                    </label>
                                    <label class="notePink3" title="notePink3">
                                        <input type="radio" id="idPink3" name="rbColor"
                                            value="notePink3">
                                    </label>
                                    <label class="notePink4" title="notePink4">
                                        <input type="radio" id="idPink4" name="rbColor"
                                            value="notePink4">
                                    </label>
                                    <label class="notePink5" title="notePink5">
                                        <input type="radio" id="idPink5" name="rbColor"
                                            value="notePink5">
                                    </label>
                                    <label class="notePink6" title="notePink6">
                                        <input type="radio" id="idPink6" name="rbColor"
                                            value="notePink6">
                                    </label>
                                    <label class="notePink7" title="notePink7">
                                        <input type="radio" id="idPink7" name="rbColor"
                                            value="notePink7">
                                    </label>
                                    <label class="noteBlue1" title="noteBlue1" title="noteBlue1"
                                        title="noteBlue1">
                                        <input type="radio" id="idBlue1" name="rbColor"
                                            value="noteBlue1">
                                    </label>
                                    <label class="noteBlue2" title="noteBlue2" title="noteBlue2"
                                        title="noteBlue2">
                                        <input type="radio" id="idBlue2" name="rbColor"
                                            value="noteBlue2">
                                    </label>
                                    <label class="noteBlue3" title="noteBlue3" title="noteBlue3"
                                        title="noteBlue3">
                                        <input type="radio" id="idBlue3" name="rbColor"
                                            value="noteBlue3">
                                    </label>
                                    <label class="noteBlue4" title="noteBlue4">
                                        <input type="radio" id="idBlue4" name="rbColor"
                                            value="noteBlue4">
                                    </label>
                                    <label class="noteBlue5" title="noteBlue5">
                                        <input type="radio" id="idBlue5" name="rbColor"
                                            value="noteBlue5">
                                    </label>
                                    <label class="noteBlue6" title="noteBlue6">
                                        <input type="radio" id="idBlue6" name="rbColor"
                                            value="noteBlue6">
                                    </label>
                                    <label class="noteBlue7" title="noteBlue7">
                                        <input type="radio" id="idBlue7" name="rbColor"
                                            value="noteBlue7">
                                    </label>
                                    <label class="noteGreen1" title="noteGreen1">
                                        <input type="radio" id="idGreen1" name="rbColor"
                                            value="noteGreen1">
                                    </label>
                                    <label class="noteGreen2" title="noteGreen2">
                                        <input type="radio" id="idGreen2" name="rbColor"
                                            value="noteGreen2">
                                    </label>
                                    <label class="noteGreen3" title="noteGreen3">
                                        <input type="radio" id="idGreen3" name="rbColor"
                                            value="noteGreen3">
                                    </label>
                                    <label class="noteGreen4" title="noteGreen4">
                                        <input type="radio" id="idGreen4" name="rbColor"
                                            value="noteGreen4">
                                    </label>
                                    <label class="noteGreen5" title="noteGreen5">
                                        <input type="radio" id="idGreen5" name="rbColor"
                                            value="noteGreen5">
                                    </label>
                                    <label class="noteGreen6" title="noteGreen6">
                                        <input type="radio" id="idGreen6" name="rbColor"
                                            value="noteGreen6">
                                    </label>
                                    <label class="noteGreen7" title="noteGreen7">
                                        <input type="radio" id="idGreen7" name="rbColor"
                                            value="noteGreen7">
                                    </label>
                                    <label class="noteYellow1" title="noteYellow1">
                                        <input type="radio" id="idYellow" name="rbColor"
                                            value="noteYellow1">
                                    </label>
                                    <label class="noteYellow2" title="noteYellow2">
                                        <input type="radio" id="idYellow2" name="rbColor"
                                            value="noteYellow2">
                                    </label>
                                    <label class="noteYellow3" title="noteYellow3">
                                        <input type="radio" id="idYellow3" name="rbColor"
                                            value="noteYellow3">
                                    </label>
                                    <label class="noteYellow4" title="noteYellow4">
                                        <input type="radio" id="idYellow4" name="rbColor"
                                            value="noteYellow4">
                                    </label>
                                    <label class="noteYellow5" title="noteYellow5">
                                        <input type="radio" id="idYellow5" name="rbColor"
                                            value="noteYellow5">
                                    </label>
                                    <label class="noteYellow6" title="noteYellow6">
                                        <input type="radio" id="idYellow6" name="rbColor"
                                            value="noteYellow6">
                                    </label>
                                    <label class="noteYellow7" title="noteYellow7">
                                        <input type="radio" id="idYellow7" name="rbColor"
                                            value="noteYellow7">
                                    </label>
                                    <label class="noteRed1" title="noteRed1">
                                        <input type="radio" id="idRed1" name="rbColor" value="noteRed1">
                                    </label>
                                    <label class="noteRed2" title="noteRed2">
                                        <input type="radio" id="idRed2" name="rbColor" value="noteRed2">
                                    </label>
                                    <label class="noteRed3" title="noteRed3">
                                        <input type="radio" id="idRed3" name="rbColor" value="noteRed3">
                                    </label>
                                    <label class="noteRed4" title="noteRed4">
                                        <input type="radio" id="idRed4" name="rbColor" value="noteRed4">
                                    </label>
                                    <label class="noteRed5" title="noteRed5">
                                        <input type="radio" id="idRed5" name="rbColor" value="noteRed5">
                                    </label>
                                    <label class="noteRed6" title="noteRed6">
                                        <input type="radio" id="idRed6" name="rbColor" value="noteRed6">
                                    </label>
                                    <label class="noteRed7" title="noteRed7">
                                        <input type="radio" id="idRed7" name="rbColor" value="noteRed7">
                                    </label>
                                    <label class="noteBrown1" title="noteBrown1">
                                        <input type="radio" id="idBrown1" name="rbColor"
                                            value="noteBrown1">
                                    </label>
                                    <label class="noteBrown2" title="noteBrown2">
                                        <input type="radio" id="idBrown2" name="rbColor"
                                            value="noteBrown2">
                                    </label>
                                    <label class="noteBrown3" title="noteBrown3">
                                        <input type="radio" id="idBrown3" name="rbColor"
                                            value="noteBrown3">
                                    </label>
                                    <label class="noteBrown4" title="noteBrown4">
                                        <input type="radio" id="idBrown4" name="rbColor"
                                            value="noteBrown4">
                                    </label>
                                    <label class="noteBrown5" title="noteBrown5">
                                        <input type="radio" id="idBrown5" name="rbColor"
                                            value="noteBrown5">
                                    </label>
                                    <label class="noteBrown6" title="noteBrown6">
                                        <input type="radio" id="idBrown6" name="rbColor"
                                            value="noteBrown6">
                                    </label>
                                    <label class="noteBrown7" title="noteBrown7">
                                        <input type="radio" id="idBrown7" name="rbColor"
                                            value="noteBrown7">
                                    </label>
                                    <label class="noteDarkGray" title="noteDarkGray">
                                        <input type="radio" id="idDarkGray" name="rbColor"
                                            value="noteDarkGray">
                                    </label>
                                    <label class="noteGray" title="noteGray">
                                        <input type="radio" id="idGray" name="rbColor" value="noteGray">
                                    </label>
                                    <label class="noteBlack" title="noteBlack">
                                        <input type="radio" id="idNegro" name="rbColor"
                                            value="noteBlack">
                                    </label>
                                </span from="extraColors">

                            </span from="manualColors">
                            <button id="showHideCustomColorLinks" type="button"
                                class="MenuButton BtnPunchedOut">Stylesheets</button>
                            <button id="showHideCustomColorEditors" type="button"
                                class="MenuButton BtnPunchedOut">Customize ...</button>


                        </td>
                    </tr>
                </table>
                <div id="divColorDicts" style="display:none; border: 1px solid green;">
                    <div id="divColorDictsDest"></div>
                    <div class="ActiveStylesheets"></div>
                </div>

                <div id="CustomColorEditors" style="display:none">
                    <label id="lblStylesheetName">Stylesheet name: <input type="text"
                            name="txtnColorSchemeName" id="txtColorSchemeName" size="20" value=""
                            placeholder="sheet-name"></label>
                    <button id="btnRecordUserColors" type="button" tabindex="-1"
                        class="MenuButton BtnPunchedOut">Record Stylesheet</button>
                    <button id="btnRecordUserColorsFromSection" type="button" tabindex="-1"
                        class="MenuButton BtnPunchedOut">FirstInstrument:NamedNotes => Stylesheet</button>

                    <br />

                    <div id="UserColorsEditorDest" FFFstyle="display:none"></div>

                    <table id="colorPicker" style="display: none; background-color: black;">
                        <!-- content will be generated --></table>

                    <table id="hatchPicker" style="display: none;">
                        <tr>
                            <td colorClass="noteHatched" class="hatchPickerCell noteHatched">noteHatched
                            </td>
                        </tr>
                        <tr>
                            <td colorClass="noteHatched2" class="hatchPickerCell noteHatched2">
                                noteHatched2</td>
                        </tr>
                        <tr>
                            <td colorClass="noteHatched3" class="hatchPickerCell noteHatched3">
                                noteHatched3</td>
                        </tr>
                        <tr>
                            <td colorClass="noteHatched4" class="hatchPickerCell noteHatched4">
                                noteHatched4</td>
                        </tr>
                        <tr>
                            <td colorClass="" class="hatchPickerCell noteBlue2">none</td>
                        </tr>
                    </table>
                </div>

            </div from='paletteRBBackground'>
        </div from='floater'>
        <div class="clearBoth"></div>
    </div><!-- end theclass="sectionPageControlsGroup"-->
</div>  
</template>


