
#sectionDrawer {
   font-size: 80%;  
}
#tableSectionDrawerLayout td {
    padding-bottom: 0.4em;
}

#sectionDrawer select {
    font-size: 70%;
    box-shadow: 5px 2px 4px black;
}
#sectionDrawer option {
    font-size: 70%;
}
#sectionDrawer label {
    font-size: 50%;
}
#sectionDrawer button{
    margin-right: 2px;
    font-size: 80%;
    box-shadow: 5px 2px 4px black;
}
#sectionDrawer small {
    font-size: 60%;
} 
#sectionDrawer .displayOptionsButton {
    background-color: lightblue;
}
#btnDeleteSection {
    background-color: rgb(253, 85, 59);
}


.beat-icon {
    font-size: 1em;
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
}
#btnInsertFirstBeat {
    color: blue;
}
#btnInsertBeat {
    color: green;
}
#btnDeleteBeat {
    color: red;
} 
#btnAddBeat {
    color: blue;
}
