<template id="Wiring-template">
  <div class="Wiring-controls" data-tuningID="" data-tablename="">
    <span class="thisTablename" data-tablename="tblS6_1" style="display: none;"></span>
    <label for="editRelativeSection">Relative Section:</label>
    <input type="text" class="editRelativeSection" placeholder="Amount..." />
    <label for="selTablename">Instrument:</label>
    <select class="selTablename">
      <option value="">none</option>
    </select>

    <button class="btnAddWiring WiredButton WiredButtonBlocked"><s>No Instrument</s></button>
  </div>
</template>