<template id='themes-template'>
    <div id="divThemes">
        <div class="menuDiv">
            <span id='warny' class="floater"><span class="floaterClose">CLOSE</span>MESSAGES:<br></span>
            <div class="sectionPageControlsGroup">
                <button id="btnFloatSection_divThemes" class="moveyButton floatDockableButton"
                    onclick="makeDivDockable('divThemes')">Float</button>

                <button id="btnTheme" class="safeButton" type="button">Theme</button>
                <button id="btnToggleThemeTableResults" class="safeButton" type="button">Results</button>
                <button id="btnShowWarny" class="safeButton" type="button">Show Theme Messages</button>
                <br>

                <!-- Theme Controls -->
                <div id="divThemeControlsFlex">
                    <table class="themeTableControls" border="1" cellpadding='3' cellspacing='0'>
                        <tr>
                            <td>
                                Cell/Note Radius (outer):
                            </td>
                            <td>
                                <select id="dropDownNoteRadius">
                                    <option value="0">0</option>
                                    <option value="1%">1%</option>
                                    <option value="2%">2%</option>
                                    <option value="4%">4%</option>
                                    <option value="8%" selected>8%</option>
                                    <option value="12%">12%</option>
                                    <option value="20%">20%</option>
                                    <option value="25%">25%</option>
                                    <option value="35%">35%</option>
                                    <option value="45%">45%</option>
                                    <option value="50%">50%</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Named Note Radius (inner):
                            </td>
                            <td>
                                <select id="dropDownNamedNoteRadius">
                                    <option value="0">0</option>
                                    <option value="1%">1%</option>
                                    <option value="2%">2%</option>
                                    <option value="4%">4%</option>
                                    <option value="8%" selected>8%</option>
                                    <option value="10%">10%</option>
                                    <option value="12%">12%</option>
                                    <option value="14%">14%</option>
                                    <option value="16%">16%</option>
                                    <option value="18%">18%</option>
                                    <option value="20%">20%</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                IvoryEbony spacing:
                            </td>
                            <td>
                                <select id="dropDownIvoryEbony">
                                    <option value="0">0</option>
                                    <option value="0.5pt">0.5pt</option>
                                    <option value="1pt">1pt</option>
                                    <option value="2pt">2pt</option>
                                    <option value="4pt">4pt</option>
                                    <option value="6pt">6pt</option>
                                    <option value="8pt" selected>8pt</option>
                                    <option value="10pt">10pt</option>
                                    <option value="12pt">12pt</option>
                                    <option value="14pt">14pt</option>
                                    <option value="18pt">18pt</option>
                                    <option value="20pt">20pt</option>
                                    <option value="25pt">25pt</option>
                                    <option value="50pt">50pt</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cell Spacing:
                            </td>
                            <td>
                                <select id="dropDownCellSpacing">
                                    <option value="0">0</option>
                                    <option value="0.1pt">0.1pt</option>
                                    <option value="0.5pt">0.5pt</option>
                                    <option value="1pt">1pt</option>
                                    <option value="2pt">2pt</option>
                                    <option value="3pt">2pt</option>
                                    <option value="4pt" selected>4pt</option>
                                    <option value="5pt">5pt</option>
                                    <option value="6pt">6pt</option>
                                    <option value="7pt">7pt</option>
                                    <option value="8pt">8pt</option>
                                    <option value="9pt">9pt</option>
                                    <option value="10pt">10pt</option>
                                    <option value="12pt">12pt</option>
                                    <option value="14pt">14pt</option>
                                    <option value="18pt">18pt</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Instrument Background:
                            </td>
                            <td>
                                <select id="dropDownInstrumentBackground">
                                    <option value="#311900" selected>mahogany</option>
                                    <option value="SaddleBrown">SaddleBrown</option>
                                    <option value="#7C4700">woodsy</option>
                                    <option value="#3a0000">maroon</option>
                                    <option value="brown">brown</option>
                                    <option value="#230404">plum</option>
                                    <option value="#042105">felt</option>
                                    <option value="#011d48">twilight</option>
                                    <option value="black">black</option>
                                    <option value="white">white</option> <!-- theme: milk bar -->
                                    <option value="#0aa">Punta Uva</option>
                                    <option value="DarkGreen">DarkGreen</option>
                                    <option value="#02738c">teal</option>
                                    <option value="#6ebcff">pool blue</option>
                                    <!-- theme: big in japan, gotto set Nut to black.-->
                                    <option value="#ab0000">red</option>
                                    <!-- theme: Everyone into the Pool, gotto set Nut to black.-->
                                    <option value="#333">grayDJ333</option> <!-- theme: DJTrailMix -->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Instrument Margins:
                            </td>
                            <td>
                                <select id="dropDownInstrumentMargins">
                                    <option value="0">0</option>
                                    <option value="1em">1em</option>
                                    <option value="2em">2em</option>
                                    <option value="4em">4em</option>
                                    <option value="6em">6em</option>
                                    <option value="8em">8em</option>
                                    <option value="12em">12em</option>
                                    <option value="20em">20em</option>
                                    <option value="40em">40em</option>
                                    <option value="60em">60em</option>
                                    <option value="80em">80em</option>
                                </select>
                                <a href="#" data-action="hideAllMenuDivs"><small>live</small></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Instrument Border:
                            </td>
                            <td>
                                <select id="dropDownInstrumentBorderImage">
                                    <option selected value="none">none</option>
                                    <option value="url('img/celtic-background-black.png')">celtic
                                    </option>
                                    <option value="url('img/blade-border.png')">celtic</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <table class="themeTableControls" border="1" cellpadding='3' cellspacing='0'>
                        <tr>
                            <td>
                                Nut Color:
                            </td>
                            <td>
                                <select id="dropDownNutColor">
                                    <option value="#6ebcff">pool blue</option>
                                    <option value="#331e01">nut brown</option>
                                    <option value="green">green</option>
                                    <option value="lightgreen">lightgreen</option>
                                    <option value="brown">brown</option>
                                    <option value="red" selected>red</option>
                                    <option value="#ab0000">red2</option>
                                    <option value="pink">pink</option>
                                    <option value="orange">orange</option>
                                    <option value="gold">gold</option>
                                    <option value="yellow">yellow</option>
                                    <option value="lightgray">lightgray</option>
                                    <option value="white">white</option>
                                    <option value="black">black</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Diamonds Size:
                            </td>
                            <td>
                                <select id="dropDownDiamondsSize">
                                    <option value="0.4em">0.4em</option>
                                    <option value="0.5em">0.5em</option>
                                    <option value="0.6em">0.6em</option>
                                    <option value="0.7em">0.7em</option>
                                    <option value="0.8em">0.8em</option>
                                    <option value="0.9em">0.9em</option>
                                    <option value="1.0em" selected>1.0em</option>
                                    <option value="1.2em">1.2em</option>
                                    <option value="1.4em">1.4em</option>
                                    <option value="1.5em">1.5em</option>
                                    <option value="1.6em">1.6em</option>
                                    <option value="1.8em">1.8em</option>
                                    <option value="2em">2em</option>
                                    <option value="3em">3em</option>
                                    <option value="4em">4em</option>
                                    <option value="6em">6em</option>
                                    <option value="9em">9em</option>
                                    <option value="20em">20em</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Diamonds Color:
                            </td>
                            <td>
                                <select id="dropDownDiamondsColor">
                                    <option value="#6ebcff">pool blue</option>
                                    <option value="aqua">aqua</option>
                                    <option value="green">green</option>
                                    <option value="darkblue">darkblue</option>
                                    <option value="lightgreen">lightgreen</option>
                                    <option value="brown">brown</option>
                                    <option value="red" selected>red</option>
                                    <option value="#ab0000">red2</option>
                                    <option value="pink">pink</option>
                                    <option value="orange">orange</option>
                                    <option value="gold">gold</option>
                                    <option value="yellow">yellow</option>
                                    <option value="white">white</option>
                                    <option value="black">black</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                DoubleDiamonds Color:
                            </td>
                            <td>
                                <select id="dropDownDoubleDiamondsColor">
                                    <option value="#6ebcff">pool blue</option>
                                    <option value="green">green</option>
                                    <option value="lightgreen">lightgreen</option>
                                    <option value="brown">brown</option>
                                    <option value="red" selected>red</option>
                                    <option value="#ab0000">red2</option>
                                    <option value="pink">pink</option>
                                    <option value="orange">orange</option>
                                    <option value="gold">gold</option>
                                    <option value="yellow">yellow</option>
                                    <option value="white">white</option>
                                    <option value="black">black</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Diamonds Background:
                            </td>
                            <td>
                                <select id="dropDownDiamondsBackgroundColor">
                                    <option value="transparent" selected>transparent</option>
                                    <option value="#6ebcff">pool blue</option>
                                    <option value="green">green</option>
                                    <option value="lightgreen">lightgreen</option>
                                    <option value="brown">brown</option>
                                    <option value="red" selected>red</option>
                                    <option value="#ab0000">red2</option>
                                    <option value="pink">pink</option>
                                    <option value="orange">orange</option>
                                    <option value="gold">gold</option>
                                    <option value="yellow">yellow</option>
                                    <option value="white">white</option>
                                    <option value="black">black</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <table class="themeTableControls" border="1" cellpadding='3' cellspacing='0'>
                        <tr>
                            <td>
                                Note White Shadow Color:
                            </td>
                            <td>
                                <select id="dropDownNoteWhiteShadowColor">
                                    <option value="aqua" selected>aqua</option>
                                    <option value="#222">gray222</option>
                                    <option value="black">black</option>
                                    <option value="pink">pink</option>
                                    <option value="gray">gray</option>
                                    <option value="white">white</option>
                                    <option value="chartreuse">chartreuse</option>
                                    <option value="green">green</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Note Black Shadow Color:
                            </td>
                            <td>
                                <select id="dropDownNoteBlackShadowColor">
                                    <option value="pink" selected>pink</option>
                                    <option value="black">black</option>
                                    <option value="gray">gray</option>
                                    <option value="white">white</option>
                                    <option value="chartreuse">chartreuse</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                White Key Shadow Color:
                            </td>
                            <td>
                                <select id="dropDownNoteWhiteKeyShadowColor">
                                    <option value="0 0 2pt 1pt pink" selected>pink</option>
                                    <option value="0 0 2pt 1pt black">black</option>
                                    <option value="0 0 2pt 1pt lightgray">lightgray</option>
                                    <option value="0 0 2pt 1pt white">white</option>
                                    <option value="0 0 2pt 1pt chartreuse">chartreuse</option>
                                    <option value="0 0 2pt 1pt #331e01">nut brown</option>
                                    <option value="0 0 2pt 1pt #362312">shire brown</option>
                                    <option value="0 0 2pt 1pt #311900">mahogany</option>
                                    <option value="0 0 2pt 1pt SaddleBrown">SaddleBrown</option>
                                    <option value="0 0 2pt 1pt #7C4700">woodsy</option>
                                    <option value="0 0 2pt 1pt #170803">Umber</option>
                                    <option value="0 0 2pt 1pt #ffab3c">yellowy</option>
                                    <option value="0 0 2pt 1pt #f5e0c4">creamy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Black Key Shadow Color:
                            </td>
                            <td>
                                <select id="dropDownNoteBlackKeyShadowColor">
                                    <option value="0 0 2pt 1pt cornflowerblue">cornflowerblue</option>
                                    <option value="0 0 2pt 1pt pink">pink</option>
                                    <option value="0 0 2pt 1pt black">black</option>
                                    <option value="0 0 2pt 1pt lightgray">lightgray</option>
                                    <option value="0 0 2pt 1pt white">white</option>
                                    <option value="0 0 2pt 1pt chartreuse">chartreuse</option>
                                    <option value="0 0 2pt 1pt #331e01">nut brown</option>
                                    <option value="0 0 2pt 1pt #362312">shire brown</option>
                                    <option value="0 0 2pt 1pt #311900">mahogany</option>
                                    <option value="0 0 2pt 1pt SaddleBrown">SaddleBrown</option>
                                    <option value="0 0 2pt 1pt #7C4700">woodsy</option>
                                    <option value="0 0 2pt 1pt #170803">Umber</option>
                                    <option value="0 0 2pt 1pt #ffab3c">yellowy</option>
                                    <option value="0 0 2pt 1pt #f5e0c4">creamy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Note White Key Color:
                            </td>
                            <td>
                                <select id="dropDownNoteWhiteKeyColor">
                                    <option value="transparent">transparent</option>
                                    <option value="white" selected>white</option>
                                    <option value="black">black</option>
                                    <option value="#191919">anthracite</option>
                                    <option value="#555">grayDJ555</option>
                                    <option value="#331e01">nut brown</option>
                                    <option value="#362312">shire brown</option>
                                    <option value="#311900">mahogany</option>
                                    <option value="SaddleBrown">SaddleBrown</option>
                                    <option value="#7C4700">woodsy</option>
                                    <option value="#170803">Umber</option>
                                    <option value="#ffab3c">yellowy</option>
                                    <option value="#f5e0c4">creamy</option>
                                    <option value="aqua">aqua</option>
                                    <option value="lightgreen">lightgreen</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Note Black Key Color:
                            </td>
                            <td>
                                <select id="dropDownNoteBlackKeyColor">
                                    <option value="transparent">transparent</option>
                                    <option value="white">white</option>
                                    <option value="black" selected>black</option>
                                    <option value="#191919">anthracite</option>
                                    <option value="#555">grayDJ555</option>
                                    <option value="#331e01">nut brown</option>
                                    <option value="#362312">shire brown</option>
                                    <option value="#311900">mahogany</option>
                                    <option value="SaddleBrown">SaddleBrown</option>
                                    <option value="#7C4700">woodsy</option>
                                    <option value="#170803">Umber</option>
                                    <option value="#f5e0c4">creamy</option>
                                    <option value="#ffab3c">yellowy</option>
                                    <option value="aqua">aqua</option>
                                    <option value="lightgreen">lightgreen</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Note White Key Special Color:
                            </td>
                            <td>
                                <select id="dropDownNoteWhiteKeySpecialColor">
                                    <option value="transparent">transparent</option>
                                    <option value="white" selected>white</option>
                                    <option value="black">black</option>
                                    <option value="#191919">anthracite</option>
                                    <option value="#555">grayDJ555</option>
                                    <option value="#331e01">nut brown</option>
                                    <option value="#362312">shire brown</option>
                                    <option value="SaddleBrown">SaddleBrown</option>
                                    <option value="#f5e0c4">creamy</option>
                                    <option value="#170803">Umber</option>
                                    <option value="#ffab3c">yellowy</option>
                                    <option value="aqua">aqua</option>
                                    <option value="lightgreen">lightgreen</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Note Black Key Special Color:
                            </td>
                            <td>
                                <select id="dropDownNoteBlackKeySpecialColor">
                                    <option value="transparent">transparent</option>
                                    <option value="white">white</option>
                                    <option value="black" selected>black</option>
                                    <option value="#191919">anthracite</option>
                                    <option value="#555">grayDJ555</option>
                                    <option value="#331e01">nut brown</option>
                                    <option value="#362312">shire brown</option>
                                    <option value="SaddleBrown">SaddleBrown</option>
                                    <option value="#f5e0c4">creamy</option>
                                    <option value="aqua">aqua</option>
                                    <option value="lightgreen">lightgreen</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Note White Key Font Color:
                            </td>
                            <td>
                                <select id="dropDownNoteWhiteKeyFontColor">
                                    <option value="transparent" selected>transparent</option>
                                    <option value="white">white</option>
                                    <option value="black">black</option>
                                    <option value="#191919">anthracite</option>
                                    <option value="#555">grayDJ555</option>
                                    <option value="#331e01">nut brown</option>
                                    <option value="#362312">shire brown</option>
                                    <option value="#f5e0c4">creamy</option>
                                    <option value="aqua">aqua</option>
                                    <option value="lightgreen">lightgreen</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Note Black Key Font Color:
                            </td>
                            <td>
                                <select id="dropDownNoteBlackKeyFontColor">
                                    <option value="transparent" selected>transparent</option>
                                    <option value="white">white</option>
                                    <option value="black">black</option>
                                    <option value="#191919">anthracite</option>
                                    <option value="#555">grayDJ555</option>
                                    <option value="#331e01">nut brown</option>
                                    <option value="#362312">shire brown</option>
                                    <option value="#f5e0c4">creamy</option>
                                    <option value="aqua">aqua</option>
                                    <option value="lightgreen">lightgreen</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                White Key Background:
                            </td>
                            <td>
                                <select id="dropDownBorderImageWhiteKey">
                                    <option selected value="none">none</option>
                                    <option value="url('img/celtic-background-white.png')">celtic
                                        whitekey</option>
                                    <option value="url('img/celtic-background-black.png')">celtic
                                        blackkey</option>
                                    <option value="url('img/celtic-background-2.png')">celtic macrame
                                    </option>
                                    <option value="url('img/celtic-knot-black.png')">celtic macrame
                                        white</option>
                                    <option value="url('img/blade.png')">blade</option>
                                    <option value="url('img/guitar-string-fret.png')">guitar string</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Black Key Background:
                            </td>
                            <td>
                                <select id="dropDownBorderImageBlackKey">
                                    <option selected value="none">none</option>
                                    <option value="url('img/celtic-background-black.png')">celtic
                                        blackkey</option>
                                    <option value="url('img/celtic-background-white.png')">celtic
                                        whitekey</option>
                                    <option value="url('img/celtic-background-2.png')">celtic macrame
                                    </option>
                                    <option value="url('img/celtic-knot-black.png')">celtic macrame
                                        white</option>
                                        <option value="url('img/guitar-string-fret.png')">guitar string</option>
                                </select>
                            </td>
                        </tr>

                    </table>
                </div>

                <!-- END Theme Controls -->
                <table id="themeTableResults">
                    <tr>
                        <td id="tdThemeResults"></td>
                    </tr>
                    <tr>
                        <td id="themeDiffResults"></td>
                    </tr>
                </table>
                <div class="clearBoth"></div>
            </div>

        </div><!-- END menuDiv -->
    </div>
</template>